node_modules
dist
.git
.gitignore
.vscode
.env
.env.local
README.md
Dockerfile
test
__tests__
coverage
.nyc_output
*.log
npm-debug.log*
yarn-error.log*
yarn-debug.log*

# OS
.DS_Store
Thumbs.db

# CI
.circleci
.github
.gitlab

# Prevent any temp files
tmp/
temp/
.cache/